{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    	<h1 class="page-header">Usuarios</h1>
    
        <h2 class="sub-header">Comanda</h2>
        
            <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              	<tr>
              	  <th>Pedido</th>
                  <th>Mesa</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th>Pagado</th>                  
                </tr>
              </thead>
              <tbody>
              	{% for a in comandas %}
              		<tr>
              			<td>{{ a.pedido.id }}</td>
              			<td>{{ a.mesa.num }}</td>
              			<td>{{ a.pedido.fecha|date('d-m-Y') }}</td>
              			<td>{{ a.estado }}</td>
              			<td>{% if a.pedido.isPagado == null %}
              					pendiente
              				{% else %}
              					{{ a.isPagado }}</td> 
              	            {% endif %} 
              			<td>              			
              				<div class="btn-group">
                  				<a type="button" class="btn btn-success btn_table active" href="{{ path( 'showCocinero', { 'id': a.id } ) }}">Show</a>
                  				<a type="button" class="btn btn-warning btn_table active" href="{{ path( 'editCocinero', { 'id': a.id } ) }}">Edit</a>
              				</div>
              			</td>                       			
              		</tr>
              	{% endfor %}
              </tbody>
            </table>
      	</div>
      	<div class="border-left">
        	<a type="button" class="btn btn-default" href="{{ path( 'index' ) }}">Atrás</a>
        </div>
  	</div>
{% endblock %}