{% trans_default_domain 'AppBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Comandas{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        	<!-- Bootstrap -->
	        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
	        <!-- Latest compiled and minified CSS -->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	        <!-- Optional theme -->
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	        <!-- Latest compiled and minified JavaScript -->
	        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	        <!--  Google font ROBOTO -->
	        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>       
	        
	        
        {% endblock %}
        {% stylesheets '@AppBundle/Resources/public/css/bootstrap/dist/css/*' filter='cssrewrite' %}
    		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
        {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
    </head>
    
    
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Comandas</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">          
                <li><a href="{{ path('logout') }}">Logout</a></li>
                <li><a href="#">Idioma</a></li>
                <li><a href="#">Help</a></li>
              </ul>          
            </div>
          </div>
        </nav>
    
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                <li class="active"><a href="{{ path('index') }}">Dashboard<span class="sr-only">(current)</span></a></li>            
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="{{ path('listAdmin') }}">Administrador</a></li>
                <li><a href="{{ path('listCocinero') }}">Cocinero</a></li>
                <li><a href="{{ path('listCamarero') }}">Camarero</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="{{ path('listMesa') }}">Mesas</a></li>            
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="{{ path('listPlato') }}">Platos</a></li>            
              </ul>
              <ul class="nav nav-sidebar">
                <li><a href="{{ path('listComanda') }}">Comandas</a></li>            
              </ul>
            </div>
            {% block body %}
            	
            {% endblock %}            
          </div>
        </div>
    {% block javascripts %}
    		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    		    		
    		<script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
			<script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
			
    {% endblock %}
        {% stylesheets '@AppBundle/Resources/public/css/bootstrap/docs/assets/js/vendor/holder.min.js' filter='cssrewrite' %}
    	 	<!-- Include all compiled plugins (below), or include individual files as needed -->
    		<link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
	</body>
</html>