{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %} Camarero {% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    	<h1 class="page-header">Usuarios</h1>
        <h2 class="sub-header">Camarero</h2>
        <div class="table-responsive">
    		<table class="table">
    			<tbody>
    					<tr><th><i class="fa fa-user fa-2x"/></th><td>{{ camarero.id }}</td></tr>
    					<tr><th>Username</th><td>{{ camarero.username }}</td></tr>
    					<tr><th>Surname</th><td>{{ camarero.surname }}</td></tr>
    					<tr><th>DNI</th><td>{{ camarero.dni }}</td></tr>
    					<tr><th><i class="fa fa-at fa-2x"/></th><td>{{ camarero.email }}</td></tr>
    					<tr><th><i class="fa fa-phone-square fa-2x"/></th><td>{{ camarero.phone }}</td></tr>
    					<tr><th>Address</th><td>{{ camarero.address }}</td></tr>
    			</tbody>
    		</table>
		</div>
	</div>

{% endblock %}